/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin: auto;
  }
  
  /* Full-width inputs */
  input[type="text"],
  #email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  .validation {
    font-size: 12px;
    opacity: 0.5;
    color: red;
  }
  input[type="text"]:invalid,
  #email:invalid {
    border-color: red;
  }
  
  input[type="text"]:valid + .validation,
  #email:valid + .validation {
    display: none;
  }
  
  input[type="text"]:valid,
  #email:valid {
    border-color: #04aa6d;
  }