body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    width: 500px;
    margin: 20px auto;
  }
  h1 {
    margin: 10px auto;
    width: 90%;
    border: 2px solid black;
    font-weight: bold;
    color: #070d91;
    text-align: center;
    background-color: #eee;
  }
  .form {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
  }
  .input:focus {
    outline: none;
  }
  .add {
    border: none;
    background-color: #070d91;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
  }
  .tasks {
    background-color: #eee;
    margin-top: 20px;
    border-radius: 6px;
    padding: 20px;
  }
  .tasks .task {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  .tasks .task p {
    margin: 5px;
    width: 70%;
  }
  .tasks .task:not(:last-child) {
    margin-bottom: 15px;
  }
  .tasks .task:hover {
    background-color: #f7f7f7;
  }
  
  .tasks .task.done {
    opacity: 0.5;
    background-color: green;
  }
  .tasks .task .doneSpan {
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
    background-color: green;
    color: white;
    padding: 3px 7px;
    border-radius: 4px;
    cursor: pointer;
  }
  .tasks .task .delSpan {
    font-weight: bold;
    font-size: 13px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
  }